# .dockerignore

# Git and OS-specific files
.git
.gitignore
.DS_Store

# Ignore local environment files
.env
*.env.*

# IDE / Editor configuration
.vscode
.idea

# Node.js dependencies at any nested level
**/node_modules

# Build output folders
**/build
**/dist

# Docker files
Dockerfile
.dockerignore
docker-compose.yml