# Homelab Environment Variables

# --- Host Machine Configuration ---
TZ='<timezone>'
HOMELAB_IP_ADDRESS='<ip-address>'
PUID='<PUID>'
PGID='<PGID>'
PROJECT_ROOT='<project-root>'

# --- Homelab Project Configuration ---
HOMELAB_HOSTNAME='<homelab-hostname>'
DNS_DOMAIN='<dns-domain>'

# --- Traefik SSL Configuration ---
TRAEFIK_CERT_RESOLVER=''
ACME_EMAIL='<acme-email>'

# --- Web Domain Hostnames ---
DASHBOARD_WEB_HOSTNAME='dashboard.<homelab-hostname>'
PIHOLE_WEB_HOSTNAME='pihole.<homelab-hostname>'
NETDATA_WEB_HOSTNAME='netdata.<homelab-hostname>'
PORTAINER_WEB_HOSTNAME='portainer.<homelab-hostname>'
DOCKGE_WEB_HOSTNAME='dockge.<homelab-hostname>'
DOCKHAND_WEB_HOSTNAME='dockhand.<homelab-hostname>'
VAULTWARDEN_WEB_HOSTNAME='vaultwarden.<homelab-hostname>'
UPTIME_KUMA_WEB_HOSTNAME='uptime-kuma.<homelab-hostname>'
GOTIFY_WEB_HOSTNAME='gotify.<homelab-hostname>'
AUTHENTIK_WEB_HOSTNAME='authentik.<homelab-hostname>'

# --- Homelab Dashboard Variables ---
HOMELAB_USERNAME='<username>'
HOMELAB_EMAIL='<email>'
DISABLE_LOCAL_AUTH=true

# --- Portainer Variables ---
PORTAINER_ADMIN_USERNAME='<username>'



