TZ='${TZ:-UTC}'
HOMELAB_IP_ADDRESS='${HOMELAB_IP_ADDRESS:-127.0.0.1}'
PUID='${PUID:-1000}'
PGID='${PGID:-1000}'
PROJECT_ROOT='${PROJECT_ROOT:-}'
HOMELAB_LANGUAGE='${HOMELAB_LANGUAGE:-en}'
HOMELAB_LOCALE='${HOMELAB_LOCALE:-en_US}'
HOMELAB_HOSTNAME='${HOMELAB_HOSTNAME:-homelab.home.arpa}'
DNS_DOMAIN='${DNS_DOMAIN:-home.arpa}'
TRAEFIK_CERT_RESOLVER='${TRAEFIK_CERT_RESOLVER:-}'
ACME_EMAIL='${ACME_EMAIL:-}'
DASHBOARD_SERVICE_NAME='${DASHBOARD_SERVICE_NAME:-dashboard}'
PIHOLE_SERVICE_NAME='${PIHOLE_SERVICE_NAME:-dns}'
DOCKHAND_SERVICE_NAME='${DOCKHAND_SERVICE_NAME:-docker}'
VAULTWARDEN_SERVICE_NAME='${VAULTWARDEN_SERVICE_NAME:-vault}'
GATUS_SERVICE_NAME='${GATUS_SERVICE_NAME:-status}'
GOTIFY_SERVICE_NAME='${GOTIFY_SERVICE_NAME:-notify}'
AUTHENTIK_SERVICE_NAME='${AUTHENTIK_SERVICE_NAME:-auth}'
NEXTCLOUD_SERVICE_NAME='${NEXTCLOUD_SERVICE_NAME:-cloud}'
COLLABORA_SERVICE_NAME='${COLLABORA_SERVICE_NAME:-office}'
IMMICH_SERVICE_NAME='${IMMICH_SERVICE_NAME:-photos}'
IMMICH_VERSION='${IMMICH_VERSION:-v3}'
MAIL_SERVICE_NAME='${MAIL_SERVICE_NAME:-mail}'
HEADSCALE_SERVICE_NAME='${HEADSCALE_SERVICE_NAME:-vpn}'
HOMELAB_DEFAULT_QUOTA_GB='${HOMELAB_DEFAULT_QUOTA_GB:-50}'
HEADSCALE_BASE_DOMAIN='${HEADSCALE_BASE_DOMAIN:-ts.home.arpa}'
HEADSCALE_WEB_HOSTNAME='${HEADSCALE_WEB_HOSTNAME:-vpn.homelab.home.arpa}'
LAN_SUBNET='${LAN_SUBNET:-10.10.10.0/24}'
DOCKER_SUBNET='${DOCKER_SUBNET:-10.10.30.0/24}'
TRAEFIK_IP_ADDRESS='${TRAEFIK_IP_ADDRESS:-10.10.30.2}'
HEADSCALE_IPV4_PREFIX='${HEADSCALE_IPV4_PREFIX:-100.64.0.0/24}'
HOST_API_URL='${HOST_API_URL:-http://host.docker.internal:5001}'
HOMELAB_USERNAME='${HOMELAB_USERNAME:-}'
HOMELAB_EMAIL='${HOMELAB_EMAIL:-}'
SAMBA_HOST_PORT='${SAMBA_HOST_PORT:-445}'
