# Homelab API Environment Variables
# IMPORTANT: Never commit this file to version control!

# Authentication Secrets (CHANGE THESE IN PRODUCTION!)
HOMELAB_API_JWT_SECRET=
HOMELAB_API_SESSION_SECRET=

# --- Vaultwarden Variables ---
VAULTWARDEN_ADMIN_TOKEN=
# Set to 'true' initially to create your account, then change to 'false' for security.
VAULTWARDEN_SIGNUPS_ALLOWED=true

# Server Configuration
ENVIRONMENT=development

HOMELAB_HOSTNAME=homelab.home.arpa
DNS_DOMAIN=home.arpa
HOMELAB_IP_ADDRESS=10.10.10.13

DASHBOARD_WEB_HOSTNAME=dashboard.homelab.home.arpa
PIHOLE_WEB_HOSTNAME=pihole.homelab.home.arpa
NETDATA_WEB_HOSTNAME=netdata.homelab.home.arpa
PORTAINER_WEB_HOSTNAME=portainer.homelab.home.arpa
VAULTWARDEN_WEB_HOSTNAME=vaultwarden.homelab.home.arpa

VITE_DASHBOARD_WEB_HOSTNAME=${DASHBOARD_WEB_HOSTNAME}
VITE_PIHOLE_WEB_HOSTNAME=${PIHOLE_WEB_HOSTNAME}
VITE_NETDATA_WEB_HOSTNAME=${NETDATA_WEB_HOSTNAME}
VITE_PORTAINER_WEB_HOSTNAME=${PORTAINER_WEB_HOSTNAME}
VITE_VAULTWARDEN_WEB_HOSTNAME=${VAULTWARDEN_WEB_HOSTNAME}