# /etc/systemd/system/pacman-sync.timer

[Unit]
Description=Run pacman-sync daily
Requires=pacman-sync.service

[Timer]
OnCalendar=*-*-* 03:00:00
# Or for more human-readable options:
# OnCalendar=daily
# OnCalendar=Mon..Fri 03:00:00  (Monday to Friday at 3 AM)
# OnCalendar=weekly             (Once a week, usually Monday 00:00)
# OnCalendar=hourly             (Once an hour)

Persistent=true  # Run missed jobs when system boots

[Install]
WantedBy=timers.target