[Unit]
Description=Synchronize Pacman package databases
After=network-online.target  # Ensure network is up before running

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman -Sy --noconfirm
User=root
# StandardOutput=journal  # Send stdout to journal (default for Type=oneshot)
# StandardError=journal   # Send stderr to journal (default for Type=oneshot)