<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>rustdesk</short>
  <description>RustDesk Self-Hosted Remote Desktop</description>
  <port protocol="tcp" port="21115-21119"/>
  <port protocol="udp" port="21116"/>
</service>
