<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>mail-homelab</short>
  <description>Homelab Stalwart IMAPS/SMTPS (Thunderbird and similar)</description>
  <port protocol="tcp" port="993"/>
  <port protocol="tcp" port="465"/>
</service>
